---
const today = new Date();

import { FaGithub } from 'react-icons/fa'
---

<footer class="flex flex-col items-center mt-auto py-4 gap-2">
	<p>&copy; {today.getFullYear()} <span class="font-semibold">Matheus Mota (Study Blog)</span>. All rights reserved.</p>
	<div class="flex justify-center items-center gap-4">
		<a href="https://github.com;Matheus1714" target="_blank">
			<FaGithub size={30} />
		</a>
	</div>
</footer>
